body {
	background-image: url(../images/cssbackground.jpg);
}

h1 {
	float: left;
	padding:20px;
	color: white;
}

.header{
	color:white;
}
#mainbox{
	background: darkcyan;
	clear: left;
	color: white;
	width:500px;

}

#goal {
	background:blue;
	color:white;
	width: 500px;

}

h3 { 

	color:white;

}

h4 {
	color:white;
	padding: 10px 10px 10px 10px;

}